/* General */

body {
   font-family: "Open Sans", sans-serif!important;
}


.video{
    margin-top: 6rem;
}

.fix_h{
    height: 25rem;
    padding-right: 0px; 
    padding-left: 0px;
}

.fix_width{
    width:250px;
}

 .fadex, .fade2, .fade3, .fade4 { display: none; }

/* Header */
    .header { 
      background: url(../../../images/header.png) no-repeat center center; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      height: 21em;
    }
    
    .headerB { 
      background: url(../../../images/cert.png) no-repeat center center; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      height: 468px;
    }
    
    
    .one{
         padding-right: 0px; 
         padding-left: 0px;     
    }

/* Nav */

    .nav{
        padding-top: 268px;
        padding-left: 274px;
        color: white;
        float: right!important;
    }
    
    .nav  a{
        color: white;
    }
    
    .nav  a:hover{
        color: #00acb9;
    }
    
    .nav a span{
      margin-left: -14px;
    }
    
    .nav li{
          margin-left: -14px;
    }
    .size-icon{
        width: 72px;
        margin: auto;
    }
    
    .menu_possition{
        padding-top: 251px;
    }
    
    .fix_postition{
      margin-left: -14px;
    }
    
/*Jumbotro*/
    .jumbotron{
        background-color: white;
    }
    
    .jumbotron_somos{
        padding: 0rem 2rem;
    }

/* Footer */
    .footer{
      background-color: black;
      color: #fff;
      padding: 27px;
    }
    
    .footer .col-sm p{
        margin-top: -14px;
        line-height: 15px;
        font-size: 11px;
    }
    
    .footer .col-sm b{
        font-size: 12px;
        text-align: center;
    }

    .footer .txt-center{
         text-align: center;
    }




/*Carrousel*/
    .carousel-indicators li{
      width: 12px;
      height: 12px;
      border: 1px solid #00acb9;
      border-radius: 80px;
      background-color: white;
    }
    
    
    .carousel-indicators .active{
      background-color: #00acb9;
    }

/* style daniel */
.s1{
    display: none;
}
.s2{
    display: none;
}
.s3{
    display: none;
}


.ti{
  font-size:30px;
  margin-left:-20px;
}

.blue{
  color: #00acb9;
  font-weight: bold;
  font-size:20px;
  text-transform: uppercase;
  text-decoration: underline;
  padding-bottom: 1rem;
}

.under-below { 
  -webkit-text-underline-position: under;
  -ms-text-underline-position: below;
  text-underline-position: under; 
}


/* Sección Productos */
    
    .products_box{
        height: 28em;
    }
    
   .nav_box{
       /* background-color: #078690;*/
        height: 2em;
    }


    .Products_Container{
        
      margin-right: -5rem;
    }
    .products{
        font-size: 0.85rem;
        font-weight: bold;
        color: grey;
        cursor: pointer;
    }
    
    .product_img{
        width: 100%!important;
        height: auto;
    }
    
    .products:hover{
       font-size: 0.85rem; 
       font-weight: bold;
       color: black;
    }
    
    .products img{
        width: 5rem;
    }
    
    .black{
        color: black;
    }
    
    .box_products{
        position: relative;
        /*box-shadow: 2px 2px 10px #ccc;*/
        overflow: hidden;
    }
        /*Elemento activo*/
        .img_active {
          /*height: 27rem;*/
        }
        
        .img_active img {
          position: absolute;
          top: 30rem;
        }
        
        .img_active img.current {
          top: 1rem;
        }
    
        /*Botones de Navegación*/
        .box_products ul li{
            display: inline-block;
            margin: 0 1em;
            border: 2px solid #000;
            border-radius: 50%;
            display: inline-block;
            width: 18px;
            height: 18px;
            font-size: 0;
            text-indent: 100%;
            white-space: nowrap;
            overflow: hidden;
            outline: none;
            box-sizing: border-box;
            transition: .2s ease-in-out;
        }
    
    /*Fin Sección Productos*/
    
    
    .textoC{
      text-align: justify;
      font-size: 15px;
    }
    .x{
              margin-top: -68px;
        margin-left: -61px;
    }
    
    .style_bottom{
      margin-top: -125px;
      margin-left: 350px;
      width: 920px;
      color: white;
    
    }
    /*.col p{
      margin-top: -50px;
      position: absolute;
      margin-left: 60px;
      width: 1000px;
    }*/
    .lef-col{
      margin-left: 90px;
    }
    .der-col{
      margin-left: -41px;
    }
    .der-col2{
      margin-left:54px;
    }
    
    .circulo{
      border-radius: 100%;
    }
    
    .list_a{
      list-style: none;
    }
    
    .sbn-list {
		        margin-top: 1rem;
    }
    
    .sbn-list ul li {
	    margin: 0 .7em;
    }
    
    /*contacto*/
    
    .note{
      font-size: 12px;
      text-align: right;
    }
    .btn-primary{
       color: #fff;
        background-color: #00acb9;
        border-color: #00acb9;
        float: right;
    }
    
    .btn-primary:hover{
       color: #fff;
        background-color: #006068;
        border-color: #006068;
        
    }
    
    .col-form-label{
      color: grey;
      font-size: 14px;
      font-weight: bold;
      text-align: right;
    }
    
    .laptop_somos .col-sm-7{
        margin-top: 1em;
    }
    
    .laptop_somos .col-sm-5{
        margin-top: 2em;
        padding-left: 2rem;
    }
    
    .Products_Container .box_test{
        background-color: black;
       height: 1rem;
    }
    
    .fila_b .box_test{
        background-color: red;
       height: 1rem;
    }
    /* Nav Mobile */
    
    .nav-mobile .piece{
        text-align: left;
        text-transform: uppercase;
        font-weight: bold;
        background-color: #f4f4f4;
        padding-top: 0em;
        padding-left: 1em;
        padding-bottom: 0em;
        border: white solid 0.1px;
    }
    
    .piece a{
       text-decoration: none;
       color: black;
    }
    
    .piece:hover, .piece:active{
        background-color: #e8e8e8;
    }
    
    .mobile-active a span{
        float: right;
        padding: 20px;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        font-size: 1em;
    }
    
    .mobile-active{
        background-color: #e8e8e8 !important;
    }
    
    
    
    @media screen and (max-width: 1680px) {
    
    .nav-mobile {
       display: none;
      }
      
      .nav {
        padding-top: 270px;
      }
      .Mobile_Products{
          display: none;
      }
      
      .mobile_somos{
          display: none;
      }
      
       .foot_fix{
            margin-left: -130px;
        }
        
        .foot_fix_b{
            margin-left: 100px;
        }
        
         
    	}
    
    	@media screen and (max-width: 1280px) {
    	   
    	    
          .header { 
            height: 16em;
          }
          
          .Products_Container{
               display: flex; flex-flow: column;
               margin-right: -15px;
          }
          
          
             .products_box{
               height: 39em;
             }
          
           .one {  
                
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;   
                max-width: 100%;
                
                 -webkit-box-ordinal-group: 3;
                -ms-flex-order: 2;
                order: 2;
           }
           
           .two { 
                -webkit-box-ordinal-group: 2;
                -ms-flex-order: 1;
                order: 1;
                           
               float: none;
               margin: 0 auto;
              
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                max-width: 85%;
                position: static;
                padding-right: 0px!important;
                padding-left: 0px!important; 
                margin-bottom: 2rem;
           }
            
            .no_mostrar{
                display: none;
            }
            
            .img_active img{
             top: 39rem;
             }
          
             .footbold{
                    width: 170px;
                }
              /* Nav */
                	.nav-mobile {
                       display: block;
                      }
                  
                .nav{
                    display: none;
                    padding-top: 255px;
                    padding-left: 1em;
                    color: white;
                    float: right!important;
                }
                
                .nav  a{
                    color: white;
                }
                
                .nav  a:hover{
                    color: #00acb9;
                }
                
                .nav a span{
                    margin-left: -2px;
                    font-size: 1em;
                }
                
                .nav li{
                      margin-left: -0.1em;
                }
                .size-icon{
                    width: 3.5em;
                    margin: auto;
            }
            
             .foot_fix{
                margin-left: -100px;
            }
            
            .foot_fix_b{
                margin-left: 100px;
            }
            
		    .products img{
    	        display: none!important;
    	    }
    
    	}
    	@media screen and (max-width: 1056px) {
    
        .ti { 
          font-size: 1.2rem!important;
    	}
    	
        .products{
            padding-bottom: .5rem;
        }
    
    	
    	}
    	
    
    	@media screen and (max-width: 980px) {
         
          .products_box{
                height: 29em;
             }
             
            .fix_h {
                height: 20rem;
            }
             
           .fix_width {
               width: 203px;
            }
         
         
        .header { 
            height: 11.5em;
          }
         
    
       .nav {
       display: none;
      }
      
      
    	
    	.nav-mobile {
                   display: block;
                  
          }
          
          .foot_fix{
            margin-left: 0px;
        }
        
        .foot_fix_b{
            margin-left: 0px;
        }
    	
    	}
    
    	@media screen and (max-width: 736px) {
            
            .header { 
              height: 9em;
            }
        	
        	.fix_h{
	           height: 50rem;
        	}
        	
        	.fix_col{
    	        -webkit-box-flex: 0;
                -ms-flex: 0 0 50%;
                flex: 50%;
                max-width: 50%;
    	    }
    	    
    	    .fix_width {
                width: 248px;
            }
        	
        	.products_box{
                height: 22em;
        	}
        	
        	.fix_products_title img{
        	    width: 108px!important;
                margin-left: -40px!important;
        	}
        	
            .nav {
            display: none;
            }
          
            .nav-mobile {
                   display: block;   
            }
        	
        	 .textoC{
        	        padding-top: 1em;
        	 }
        	 
        	 .list_a{
        	     padding-left: 0em;
        	 }
        	 
        	 .ti{
                 margin-left: -12px;
        	 }
        	 
        	 .title_somos{
    	         width: 95px!important;
                 margin-left: -25px!important;
        	 }
    
    	}
        
        
        @media screen and (max-device-width: 640px) {
            
         .product_box {
                height: 8em;
        	}
        	
        	 .fix_h {
               height: 53rem;

            }
        	
        .sbn-list ul li {
	           margin: 0 .2rem;
            }
         
        }
        
    	@media screen and (max-width: 480px) {
	        .ti { 
              font-size: 1rem!important;
    	    }
    	    
    	    .fix_col{
    	        -webkit-box-flex: 0;
                -ms-flex: 0 0 50%;
                flex: 50%;
                max-width: 50%;
    	    }
    	    
    	    .fix_width {
                width: 132px;
            }
    	    
    	    .fix_h{
	            height: 27rem;
    	    }
            .header { 
                height: 5em;
              }
          
           .nav {
               display: none;
            }
        	
        	.images_row{
        	    width: 20rem!important;
        	}
        	
        	.products_box {
                height: 16em;
        	}
    	
            .nav-mobile {
                       display: block;
                       
            }
              
        	.carousel-indicators{
        	   display: none;
        	 }
    	 
    	     .sbn-list {
		        margin-top: 0.5rem;
	        }
	        
	        .sbn-list ul li {
        	    margin-left:  0.1rem !important;
        	    margin-right: 0.1rem !important;
        	}
        	
        	.products, .products .black{
                font-size: 0.6rem;
            }
    	
    		}
    	
		@media screen and (max-width: 375px) {
    	    
	    	.products_box {
                height: 15em;
        	}
        	
        	.products, .products .black{
                font-size: 0.6rem;
            }
    	}
    	
    	
		@media screen and (max-width: 360px) {
    	    
	    	.products_box {
                height: 14em;
        	}
        	 
        	.sbn-list ul li {
	           margin: 0 .1rem;
            }
            
            .products, .products .black{
                font-size: 0.6rem;
            }
            
            .video{
                margin-top: 5rem;
            }
           
	
    	}
    	
    	
    	@media screen and (max-width: 320px) {
    	    
	    	.products_box {
                height: 13em;
        	}
        	
        	.products{
                font-size: 0.6rem;
            }
        	
    	}

    
