	@media screen and (max-width: 1280px) {
       
        .mobile-active a span
        {
            transform: none;
            padding: 1em;
        }
        
        .textoC{
            margin-left: 1em;
        }
        
         .laptop_somos{
	        display: none;
	    }
	    
	    .mobile_somos{
	        display: block;
	    }
	    
	    .mobile_somos .row{
            margin: auto;
            width: 97%;
	    }
	    
	    .mobile_somos .col-12{
	        margin-top: 1em;
	    }
	    
	    .title_somos{
            width: 108px!important;
            margin-left: -40px!important;
	    }
        
	}

	@media screen and (max-width: 1020px) {
        .col-6{
            -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }
        
        .mobile_somos .img_somos {
            width:100%!important;
        }
        
        .ti{
           font-size: 1.2rem!important;
       }
       
      
	   
	    .mobile_somos .row{
            margin: auto;
            width: 100%;
	    }
	    
	}

	@media screen and (max-width: 736px) {
	    
	   /*
          .img_somos{
            width: 25em!important;
            display: block;
            margin: auto auto;
        }
        
        .col-sm-7 {
         flex: none;
        max-width: none;
        }*/
        .col-6{
            -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }
        
        .mobile_somos .img_somos {
            width:100%!important;
        }
        
        .ti{
           font-size: 1.2rem!important;
       }
       
     
	}
	
	@media (max-width: 576px){
	    .col-6{
            -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }
        
        .mobile_somos .img_somos {
            width:100%!important;
        }
        
        .ti{
           font-size: 1.2rem!important;
       }
       
	}

	@media screen and (max-width: 480px) {
        .col-6{
            -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }
        
        .mobile_somos .img_somos {
            width:100%!important;
        }
        
        .ti{
           font-size: 1.2rem!important;
       }

	}